a {
  color: rgba(163, 6, 58, 0.546);
}

.header_component {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 32px;
}

.header_links {
  align-items: center;
  display: flex;
  gap: 30px;
}

.nav_links {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 15px;
  text-transform: lowercase;
}
