.login-container {
  background: rgba(35, 25, 48, 0.974);
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  margin-top: 8rem;
}

.title {
  color: rgb(215, 214, 218);
}

.logo {
  max-width: 4.5rem;
}

.usericon {
  background: rgb(47, 193, 140);
  border: 3px solid rgb(47, 193, 140);
  color: white;
}

.input {
  border: 3px solid rgb(204, 204, 204);
}

.input:focus {
  border: 3px solid rgb(62, 218, 161);
  transition: all 1s;
}

.input-search {
  border: 3px solid rgb(204, 204, 204);
  max-width: 300px;
}

.input-search:focus {
  border: 3px solid rgb(47, 193, 140);
  transition: all 1s;
}

.submit {
  background-color: rgb(45, 182, 132);
  width: 80%;
}
