a {
  text-decoration: none;
}

body {
  margin-top: 80px;
}

.login_containeir {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.login_form_containeir {
  background-color: rgba(163, 6, 58, 0.704);
  border-radius: 20px;
  padding: 80px 60px;
  top: 50%;
  width: 600px;
}

.login_containeir form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
